.thread-container {
    display: flex;
    background-color: #08adff;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height:auto;
    margin: 0 auto;
}


.comment-container {
    outline: #4b79e3 thick solid;
    display: grid;
    height:auto;
    width: 100%;
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 0.5fr 2.5fr ;
    gap: 0% 0px;
    grid-template-areas:
    "profile-picture date-created"
    "name comment-text";
    align-items: start;
}
.date-created { grid-area: date-created; }
.profile-picture { grid-area: profile-picture;  align-self: start; justify-self: center; }
.name { grid-area: name; align-self: start; justify-self: center;}
.comment-text { grid-area: comment-text; height:100%; width:100%; position: relative}

.profile-picture img {
    display:grid;
    place-items: center;
}
.comment-text .edit-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.edit-box textarea {
    width: 100%;
    min-height:90%;
    height:fit-content;
    overflow-y: auto;
}
.page-link {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.page-link.active {
    font-weight: bold;
    background-color: #ccc;
}