/* usersList.css */
body{
    margin: auto;
}

.user-list {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    background-color:#4b79e3;
    margin-left: 0;
}

.user {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto auto;
    gap: 10px;
    align-items: center;
    border: 2px solid black;
    border-bottom-width: 1px;
    border-top-width: 1px;

}

img {
    width: 100px;
    height: 100px;
}

.delete-button,
.update-button {
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    justify-self: end;
}

.delete-button {
    background-image: url("../resources/icons/icons8-delete-64.png");
}

.update-button {
    background-image: url("../resources/icons/icons8-update-64.png");
}